<mat-card>
  <div id="gitHubLink">
    <a href="https://github.com/JerecTharen/Project4"><i class="fab fa-github"></i>GitHub Repo</a>
  </div>
  <div id="courseSelect">
    <mat-form-field>
      <mat-select placeholder="golf-course">
        <mat-option>Option 1</mat-option>
        <mat-option>Option 2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="handicap">
        <mat-option>Option 1</mat-option>
        <mat-option>Option 2</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--<div id="holeInfo">-->
    <!--<table mat-table [dataSource]="DATASOURCE">-->
      <!--<ng-container matColumnDef="hole">-->
        <!--<th mat-header-cell *matHeaderCellDef>Hole Number</th>-->
        <!--<td mat-cell *matCellDef="let element">{{element.hole}}</td>-->
      <!--</ng-container>-->
    <!--</table>-->
  <!--</div>-->
</mat-card>
