<mat-card>
  <mat-card-title>
    SCORES
  </mat-card-title>
  <mat-card-content>
    <div id="gitHubLink">
      <a target="_blank" href="https://github.com/JerecTharen/Project4"><i class="fab fa-github"></i>GitHub Repo</a>
    </div>
    <div id="handicap select">
      <form>
        <mat-select placeholder="Choose a Tee Type">
          <mat-option>Pro</mat-option>
          <mat-option>Champion</mat-option>
          <mat-option>Men</mat-option>
          <mat-option>Woman</mat-option>
        </mat-select>
      </form>
    </div>
  </mat-card-content>
</mat-card>
