#courseSelect{
  display: flex;
  flex-direction: column;
  width: 25%;
}
#gitHubLink a, #navigation a{
  color: #ffffff;
  text-decoration: none;
}
#gitHubLink a:hover, #navigation a:hover{
  color: #dadfea;
}
#courseInfoHere, .scoreTable{
  display: flex;
  justify-content: space-between;
}
#infoCol{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.rowTitle{
  font-weight: bold;
}
#backgroundImage, #background{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
  opacity: .7;
}
