<mat-card>
  <mat-card-title>
    Choose a Course
  </mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-select placeholder="Choose a course" [(value)]="selectedCourse">
          <mat-option  *ngFor="let course of courseList.courses" [value]="course.id">
            {{course.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="submitCourse()">SUBMIT</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
